<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>    
    <% if ( typeof username == 'undefined' || username == null ) { %>
        </p><a href="/login">Login</a>        
    <% } else { %>
    <div>
        <p></p><a href="/logout">Logout</a></p>
        <p>Username: <%= username %> </p>
    </div>
    <% } %>
    <div>Project Pages:</div>
    <ul>
        <li><a href="/public">Public Page (Not Secured)</a></li>
        <li><a href="/user">User Page (available for USER and ADMIN roles)</a></li>
        <li><a href="/admin">Admin Page (available for ADMIN role)</a></li>
    </ul>
</body>
</html>