<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>Login</div>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="username">Username: </label>
                </td>
                <td>
                    <input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password: </label>
                </td>
                <td>
                    <input type="password" name="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Send"/>
                </td>
                <td>
                    <div><a href="/">Back</a></div>
                </td>
            </tr>
        </table>
        <% if ( error ) { %>
            <div style="color: red;"> <%= error %> </div>
        <% } %>        
    </form>
</body>
</html>